.left-sidebar#left-sidebar
	button.scrool-to.to-map-scroll До карти
	.left-sidebar__inner
		section#destinations.left-sidebar__block
		section#routes.left-sidebar__block

		.left-sidebar__block
			.left-sidebar__instuction-block
				ul
					li.line-markup.line-markup-green Найбезпечніший маршрут
					li.line-markup.line-markup-yellow Маршрут середнього рівня безпеки
					li.line-markup.line-markup-red Небезпечний маршрут

		section.deployed-route.hide
			h2.deployed-route__header вул. Ковпака, 8
			.deployed-route__points-wrap
				.deployed-route__point
					.deployed-route__point-name Направляйтесь на запад по вул. Ковпака в сторону вул. Анрі Барбюсаa
					.deployed-route__point-distance 450м
					include ../svg/arrow-forward.svg
				.deployed-route__point
					.deployed-route__point-name Поверните направо на вул. Велика Васильківська
					.deployed-route__point-distance 450м
					include ../svg/arrow-right.svg
				.deployed-route__point
					.deployed-route__point-name Поверните налево на вул. Саксаганського
					.deployed-route__point-distance 450м
					include ../svg/arrow-left.svg
				.deployed-route__point
					.deployed-route__point-name Поверните налево на вул. Льва Толстого
					.deployed-route__point-distance 450м
					include ../svg/arrow-left.svg
				.deployed-route__point
					.deployed-route__point-name Выполните разворот
					.deployed-route__point-distance 450м
					include ../svg/arrow-turn.svg
				.deployed-route__point
					.deployed-route__point-name Направляйтесь на запад по вул. Ковпака в сторону вул. Анрі Барбюса
					.deployed-route__point-distance 450м
					include ../svg/arrow-forward.svg
				.deployed-route__point
					.deployed-route__point-name Поверните направо на вул. Велика Васильківська
					.deployed-route__point-distance 450м
					include ../svg/arrow-right.svg
				.deployed-route__point
					.deployed-route__point-name Продолжайте движение по вул. Льва Толстого
					.deployed-route__point-distance 450м
					include ../svg/arrow-forward.svg
			.deployed-route__total-distance 5,6km

			h2.deployed-route__header вул. Льва Толстого, 65

