.route-build-block
	.route-build-block__line.route-build-block__head-line
		.route-build-block__line-left
			include ./svg/route-icon.svg
		.route-build-block__line-right
			button.fn-reset.route-build-block__close-route-button
				include ./svg/close.svg
		.route-build-block__line-midle
			h2 Маршрути
	.route-build-block__line.route-points-list-wrap
		ul#addresses.route-build-block__route-points-list
			each destination, index in addresses.models
				li(data-id=destination.id)
					- var isLast = (index + 1) === addresses.models.length;
					- var isFirst = index === 0;

					span.route-build-block__route-points-handle.fn-handle
						if isLast
							include ./svg/pin-final-adress.svg
						else
							include ./svg/point-icon.svg

					span.route-build-block__route-points-handle.fn-handle= destination.format()

					if !isLast && !isFirst
						.route-build-block__line-right
							button.fn-remove(type="button" data-id=destination.id).route-build-block__close-route-points-button
								include ./svg/close.svg

	.route-build-block__line
		form(action="#")
			.route-build-block__line-left
				button(type="submit" tabindex="3").route-build-block__add-route-point
					include ./svg/plus.svg
			.route-build-block__line-midle
				input.route-build-block__route-point-field(type="text" placeholder="|" title="Введіть наступну адресу" tabindex="2" required)