.left-sidebar#left-sidebar
	button.scrool-to.to-map-scroll До карти
	#sections.left-sidebar__inner
		section.left-sidebar__block
			.left-sidebar__block
			.left-sidebar__instuction-block
				ul
					li.line-markup.line-markup-green Найбезпечніший маршрут
					li.line-markup.line-markup-yellow Маршрут середнього рівня безпеки
					li.line-markup.line-markup-red Небезпечний маршрут

