section.main-content
	p Кожного року кількість ДТП в Києві збільшується.
	p За 2015 рік 
		strong 116 
		|людей загинуло, 
		strong 1862 
		|постраждало.

	h1.main-content__header Оберіть безпечний маршрут

	form.search-route-form(action='#')
		.search-route-form__top-line
			input.search-route-form__starting-point(type='text' placeholder='Адреса відправлення' title='Введіть адресу відправлення' tabindex='1' required data-type='source')
			input.search-route-form__destination-point(type='text' placeholder='Місце призначення' title='Введіть місце призначення' tabindex='2' required data-type='destination')
		.search-route-form__bot-line
			button.search-route-form__submit-button(type='submit' tabindex='3' disabled) Показати маршрут
	
	p.link-article або прокладіть маршрут
		br
		a(href='/map') на мапі