extends ./layout/default_layout.jade
include ./blocks/header.jade
include ./blocks/map-header-sidebar.jade

block header
	+header(true)
		+map-header-sidebar('deployed-route')

block content
	include ./blocks/left-sidebar-map2.jade
	include ./blocks/map-with-route.jade