.left-sidebar#left-sidebar
	button.scrool-to.to-map-scroll До карти
	.left-sidebar__inner
		section.left-sidebar__block
			.route-build-block
				.route-build-block__line.route-build-block__head-line
					.route-build-block__line-left
						include ../svg/route-icon.svg
					.route-build-block__line-right
						button.route-build-block__close-route-button
							include ../svg/close.svg
					.route-build-block__line-midle
						h2 Маршрути
				.route-build-block__line.route-points-list-wrap
					.route-build-block__line-right
						button.route-build-block__close-route-points-button
							include ../svg/close.svg

					ul.route-build-block__route-points-list
						li
							include ../svg/point-icon.svg
							| вул. Кутузова, 22
						li
							include ../svg/point-icon.svg
							| Бульвар Лесі Українки, 14
						li
							include ../svg/pin-final-adress.svg
							| метро Палац “Україна”

				.route-build-block__line
					form(action="#")
						.route-build-block__line-left
							button(type="submit" tabindex="3").route-build-block__add-route-point
								include ../svg/plus.svg
						.route-build-block__line-midle
							input.route-build-block__route-point-field(type="text" placeholder="|" title="Введіть наступну адресу" tabindex="2" required)

		section.left-sidebar__block
			.route-block.route-block-green
				.route-block__line
					.route-block__right-side-content-wrap
						input(type="checkbox" id="route1" title="Set route 1" checked="checked")
						label.route-block__checkbox-label(for="route1" title="Показати цей маршрут")
					h2.route-block__header.line-markup.line-markup-green Через вул. Євгена Коновальця
					p
						strong 20,3 км.
						|  Без пробок 36хв.
				.route-block__line.route-block__more-details-wrap
					button.route-block__more-details-button Детальніше
				.route-block__line
					.route-block__right-side-content-wrap
						button.route-block__hide-accident-button показати ДТП
					p.route-block__accident-murkup
						include ../svg/accident-icon.svg
						| За рік 
						strong 2 
						| аварії, 
						strong 6 
						| постраждалих, 
						strong 2 
						| загиблих

		section.left-sidebar__block
			.route-block.route-block-yellow
				.route-block__line
					.route-block__right-side-content-wrap
						input(type="checkbox" id="route2" title="Set route 2")
						label.route-block__checkbox-label(for="route2" title="Показати цей маршрут")
					h2.route-block__header.line-markup.line-markup-yellow Через вул. Чегоріна
					p
						strong 18,4 км.
						|  Без пробок 30хв.
				.route-block__line.route-block__more-details-wrap
					button.route-block__more-details-button Детальніше
				.route-block__line
					.route-block__right-side-content-wrap
						button.route-block__hide-accident-button Сховати
					p.route-block__accident-murkup
						include ../svg/accident-icon.svg
						| За рік 
						strong 3 
						| аварії, 
						strong 8 
						| постраждалих, 
						strong 3 
						| загиблих

		section.left-sidebar__block
			.route-block.route-block-red
				.route-block__line
					.route-block__right-side-content-wrap
						input(type="checkbox" id="route3" title="Set route 3")
						label.route-block__checkbox-label(for="route3" title="Показати цей маршрут")
					h2.route-block__header.line-markup.line-markup-red Через вул. Чегоріна
					p
						strong 17,1 км.
						|  Без пробок 25хв.
				.route-block__line.route-block__more-details-wrap
					button.route-block__more-details-button Детальніше
				.route-block__line
					.route-block__right-side-content-wrap
						button.route-block__hide-accident-button Сховати
					p.route-block__accident-murkup
						include ../svg/accident-icon.svg 
						|За рік 
						strong 4 
						| аварії, 
						strong 9 
						| постраждалих, 
						strong 5 
						| загиблих

		.left-sidebar__block
			.left-sidebar__instuction-block
				ul
					li.line-markup.line-markup-green Найбезпечніший маршрут
					li.line-markup.line-markup-yellow Маршрут середнього рівня безпеки 
					li.line-markup.line-markup-red Небезпечний маршрут
		
		section.deployed-route.hide
			h2.deployed-route__header вул. Ковпака, 8
			.deployed-route__points-wrap
				.deployed-route__point
					.deployed-route__point-name Направляйтесь на запад по вул. Ковпака в сторону вул. Анрі Барбюсаa
					.deployed-route__point-distance 450м
					include ../svg/arrow-forward.svg
				.deployed-route__point
					.deployed-route__point-name Поверните направо на вул. Велика Васильківська
					.deployed-route__point-distance 450м
					include ../svg/arrow-right.svg
				.deployed-route__point
					.deployed-route__point-name Поверните налево на вул. Саксаганського
					.deployed-route__point-distance 450м
					include ../svg/arrow-left.svg
				.deployed-route__point
					.deployed-route__point-name Поверните налево на вул. Льва Толстого
					.deployed-route__point-distance 450м
					include ../svg/arrow-left.svg
				.deployed-route__point
					.deployed-route__point-name Выполните разворот
					.deployed-route__point-distance 450м
					include ../svg/arrow-turn.svg
				.deployed-route__point
					.deployed-route__point-name Направляйтесь на запад по вул. Ковпака в сторону вул. Анрі Барбюса
					.deployed-route__point-distance 450м
					include ../svg/arrow-forward.svg
				.deployed-route__point
					.deployed-route__point-name Поверните направо на вул. Велика Васильківська
					.deployed-route__point-distance 450м
					include ../svg/arrow-right.svg
				.deployed-route__point
					.deployed-route__point-name Продолжайте движение по вул. Льва Толстого
					.deployed-route__point-distance 450м
					include ../svg/arrow-forward.svg
			.deployed-route__total-distance 5,6km

			h2.deployed-route__header вул. Льва Толстого, 65

