@import lib/base
@import reset
@import common
@import fonts
@import layouts
@import main

#application
	height: calc(100% - 61px)

.loading
	display: block
	width: 25%
	margin: 20px auto

.ui-autocomplete
	font-family: roboto, Arial, sans-serif

=loading-gif($size, $offset: 10px)
	background:
		image: url('../img/loading.gif')
		position: right $offset center
		repeat: no-repeat
		size: $size

.main-content .search-route-form input[type="text"].ui-autocomplete-loading
	+loading-gif(50px)
.route-build-block__route-point-field.ui-autocomplete-loading
	+loading-gif(25px, 0)
.map-header-sidebar input[type="text"].ui-autocomplete-loading
	+loading-gif(30px, 60px)

#map
	.context_menu
		background: rgba(0, 0, 0, .5)
		padding: 5px
	.menu_item
		background: #eee
		border: 1px solid grey
		padding: 5px 20px
		+ .menu_item
			margin-top: 10px

[disabled]
	opacity: .5